/* Общие стили для кнопки */
.button {
    background-color: #E32119; /* Цвет фона кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругление углов */
    padding: 10px 20px; /* Отступы внутри кнопки (вверх/вниз и по бокам) */
    font-size: 1.5rem; /* Размер шрифта */
    color: #fff; /* Цвет текста */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход цвета и трансформации */
    flex: 1; /* Кнопки будут расти и занимать одинаковое пространство */
    min-width: 250px; /* Минимальная ширина кнопки */
}

/* Эффект наведения на кнопку */
.button:hover {
    background-color: #ff3a33; /* Более темный цвет при наведении */
}

/* Эффект нажатия на кнопку */
.button:active {
    transform: scale(0.95); /* Уменьшаем размер кнопки при нажатии */
}

/* Фокусное состояние для доступности */
.button:focus {
    outline: none; /* Убираем контур при фокусе */
    box-shadow: 0 0 0 3px rgb(18, 137, 255); /* Добавляем эффект тени для фокуса */
    background-color: #004C99;
}

